/package-lock.json
/node_modules/
/dist/
/backend/__pycache__
.venv

# Database files
/backend/tolData/data.db
/backend/tolData/otol/*.tgz
/backend/tolData/otol/taxonomy.tsv
/backend/tolData/otol/*.json
/backend/tolData/otol/*.tre
/backend/tolData/eol/*.tgz
/backend/tolData/eol/*.csv
/backend/tolData/eol/imagesList/
/backend/tolData/eol/*.gz
/backend/tolData/eol/*.db
/backend/tolData/eol/imgsForReview/
/backend/tolData/eol/imgs/
/backend/tolData/enwiki/*.bz2
/backend/tolData/enwiki/*.gz
/backend/tolData/enwiki/*.db
/backend/tolData/enwiki/imgs/
/backend/tolData/enwiki/pageviews/
/backend/tolData/dbpedia/*.bz2
/backend/tolData/dbpedia/*.db
/backend/tolData/wikidata/*.bz2
/backend/tolData/wikidata/*.dat
/backend/tolData/wikidata/*.db
/backend/tolData/imgList.txt
/backend/tolData/pickedImgs/
/backend/tolData/img/
/backend/tolData/pickedOtolNames.txt
/backend/tolData/pickedEolIds.txt
/backend/tolData/pickedWikiIds*.txt
/backend/tolData/pickedNodes.txt
/backend/tolData/pickedNames.txt
