/package-lock.json
/node_modules/
/dist/
__pycache__
.venv

# Database files
/backend/tol_data/data.db
/backend/tol_data/otol/*.tgz
/backend/tol_data/otol/taxonomy.tsv
/backend/tol_data/otol/*.json
/backend/tol_data/otol/*.tre
/backend/tol_data/eol/*.tgz
/backend/tol_data/eol/*.csv
/backend/tol_data/eol/imagesList/
/backend/tol_data/eol/*.gz
/backend/tol_data/eol/*.db
/backend/tol_data/eol/imgs_for_review/
/backend/tol_data/eol/imgs/
/backend/tol_data/enwiki/*.bz2
/backend/tol_data/enwiki/*.gz
/backend/tol_data/enwiki/*.db
/backend/tol_data/enwiki/imgs/
/backend/tol_data/enwiki/pageviews/
/backend/tol_data/dbpedia/*.bz2
/backend/tol_data/dbpedia/*.db
/backend/tol_data/wikidata/*.bz2
/backend/tol_data/wikidata/*.dat
/backend/tol_data/wikidata/*.db
/backend/tol_data/img_list.txt
/backend/tol_data/picked_imgs/
/backend/tol_data/img/
/backend/tol_data/picked_otol_names.txt
/backend/tol_data/picked_eol_ids.txt
/backend/tol_data/picked_wiki_ids*.txt
/backend/tol_data/picked_nodes.txt
/backend/tol_data/picked_names.txt
