/package-lock.json
/node_modules/
/dist/
/public/img/

# Backend files
/backend/data/data.db
/backend/data/otol/*.tgz
/backend/data/otol/*.json
/backend/data/otol/*.tre
/backend/data/eol/*.tgz
/backend/data/eol/*.csv
/backend/data/eol/imagesList/
/backend/data/eol/*.db
/backend/data/eol/imgsForReview/
/backend/data/eol/imgs/
/backend/data/dbpedia/*.bz2
/backend/data/dbpedia/*.db
/backend/data/enwiki/*.bz2
/backend/data/enwiki/*.db
/backend/data/enwiki/imgs/
/backend/data/imgList.txt
/backend/data/pickedImgs/
/backend/data/img/
/backend/data/pickedOtolNames.txt
/backend/data/pickedEolIds.txt
/backend/data/pickedEolAltsToSkip.txt
/backend/data/pickedEnwikiNamesToSkip.txt
/backend/data/pickedDbpLabels.txt
/backend/data/pickedEnwikiLabels.txt
/backend/data/pickedReducedNodes.txt
/backend/data/pickedNames.txt
