/* From Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For transitions/animations */
.fade-enter-from, .fade-leave-to {
	opacity: 0;
}
.fade-enter-active, .fade-leave-active {
	transition-property: opacity;
	transition-duration: 300ms;
	transition-timing-function: ease-out;
}
.fadeslow-enter-from, .fadeslow-leave-to {
	opacity: 0;
}
.fadeslow-enter-active {
	transition-property: opacity;
	transition-duration: 300ms;
	transition-timing-function: ease-out;
}
.fadeslow-leave-active {
	transition-property: opacity;
	transition-duration: 1000ms;
	transition-timing-function: linear;
}
.fadein-leave-to {
	opacity: 0;
}
.fadein-leave-active {
	transition-property: opacity;
	transition-duration: 300ms;
	transition-timing-function: ease-out;
}
.animate-expand-shrink {
	animation-name: expand-shrink;
	animation-duration: 300ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}
@keyframes expand-shrink {
	from {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	to {
		transform: scale(1, 1);
	}
}
.animate-shrink-expand {
	animation-name: shrink-expand;
	animation-duration: 300ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}
@keyframes shrink-expand {
	from {
		transform: translate3d(0,0,0) scale(1, 1);
	}
	50% {
		transform: translate3d(0,0,0) scale(0.9, 0.9);
	}
	to {
		transform: translate3d(0,0,0) scale(1, 1);
	}
}
.animate-red-then-fade {
	animation-name: red-then-fade;
	animation-duration: 500ms;
	animation-timing-function: ease-in;
}
@keyframes red-then-fade {
	from {
		background-color: rgba(255,0,0,0.2);
	}
	to {
		background-color: transparent;
	}
}
.animate-flash-green {
	animation-name: flash-green;
	animation-duration: 700ms;
	animation-timing-function: ease-in;
}
@keyframes flash-green {
	from {
		color: lawngreen;
	}
	to {
		color: inherit;
	}
}

/* Other */
@font-face {
	font-family: Ubuntu;
	src: url('/fonts/Ubuntu-Regular.woff2');
}
body {
	font-family: Ubuntu, system-ui, sans-serif;
	touch-action: manipulation; /* Prevents non-standard gestures such as double-tap to zoom */
}
a {
	@apply hover:underline hover:cursor-pointer;
}
::-webkit-scrollbar {
	background-color: #1c1917;
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-thumb {
	background: #65a30d;
	border-radius: 5px;
	border: 3px solid #1c1917;
}
